---
title: "Slippers Test"
author: "Keanon O’Keefe"
author_gitlab: kokeefe
author_twitter: gitlab
categories: news
description: "To better protect our users' data, we are building our own internal system that de-identifies userIDs and other personal information prior to being moved into our internal analytics environment."
tags: news
postType: corporate
related_posts:
  - "/blog/2021/02/09/engineering-teams-collaborating-remotely/"
  - "/blog/2021/02/04/remote-pair-programming-tips/"
  - "/blog/2020/11/11/gitlab-for-agile-portfolio-planning-project-management/"
image_title: "/images/default-blog-image.png"
---

## What isn’t changing

No changes are being made to the policy on service usage data collection from SaaS or Self-Managed customers at this time.

{::nomarkdown}
<%= partial "includes/cms/blog_post/slp-image-gallery", locals: { images: [{alt: "Waf log image 1", src: "/images/about-gitlab-com.png"},{alt: "Blog featured image", src: "/images/automerge.jpg"}] } %>
{:/nomarkdown}

## What is changing

- Further limit [access levels](https://gitlab.com/gitlab-org/product-intelligence/-/issues/430) to a smaller number of individuals with access to identifiable information. 
- Introduction of a [new system to de-identify users](https://gitlab.com/groups/gitlab-org/-/epics/5248) and other personal information from multi-user instances before the information lands in [GitLab’s analytics environment](/handbook/product/product-intelligence-guide/#systems-overview). This will allow GitLab to roll up more aggregated, de-identified user-level activity at the account level.

## De-identification isn’t perfect

While we will be de-identifying userID and PI, there is a gap for single user namespaces. If a namespace only has a single user, there is potential for them to be linked to that account directly, even after de-identification. We will continue to investigate a solution to this.

## Timeline and implementation

We will collect input on design and implementation over the next 30 days in the [GitLab Community Forum](https://forum.gitlab.com/t/gitlab-is-soliciting-input-on-plans-to-de-identify-service-usage-data/49705). We plan to implement these changes starting in June 2021. 

## More information
Please find more information about our [privacy policy](/privacy/). Further details on how service usage data is used for product improvement can be found on our [Product Direction page](/direction/product-intelligence/). Also see [GitLab’s analytics environment](/handbook/product/product-intelligence-guide/#systems-overview).
