---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
cta_contact_title: "Still have questions? Get in touch."
cta_contact_subtitle: "We're here to help. Talk to an expert today."
cta_contact_button_primary_text: "Contact Sales"
cta_contact_button_primary_url: "/sales/"
cta_contact_single_button: true
disable_default_styles: true
disable_handbook_styles: true
manual_cookiebot: true
extra_css:
  - pricing2020.css
extra_js:
  - libs/slick.min.js
---
%script{src: "/javascripts/pricing.js", "data-cookieconsent": "ignore"}
.pricing-page
  .container.slp-container#intro
    .row.text-center.u-padding-top-md
      %h1 Choose a plan that suits your needs
      %h4 All plans have unlimited private or public repositories and can be used self-managed or SaaS.

  = partial "/experiments/structure", locals: { experiment_id: "10620", experiment_flag: "pricing-10620", extra_functions_control: "initializeSlider", extra_functions_test: "initializeSlider" }
  %script{"type": "text/javascript", "data-cookieconsent": "ignore"}
    initializeBenefitsViewMore();

  %script{src: "/javascripts/pricing-feature-comparison.js", "data-cookieconsent": "ignore"}
  %script{"type": "text/javascript", "data-cookieconsent": "ignore"}
    pricingFeatureComparison();

  .container.slp-container#faq
    .row.faq.text-center.u-padding-top-md.u-padding-bottom-md
      %h2.text-center Frequently asked questions
      .faq-holder.text-left
        - size = (data.pricing.questions.size / Float(1)).ceil
        - data.pricing.questions.each_slice(size) do |group|
          = partial 'includes/layout/faq_list', locals: { group: group }

  .row#ask-us-anything
    .u-padding-top-md
      .container.container2020
        = partial "includes/components/cta-contact"
