.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0 A Complete DevOps Platform
    %p
      DevOps tools shouldn’t create more problems than they solve. As DevOps initiatives mature, brittle toolchains built from point solutions break down, increasing cost, reducing visibility, and creating friction instead of value. Unlike DIY toolchains, a true DevOps platform <em>removes</em> complexity and risk, providing everything you need to deliver higher quality, more secure software faster, with less risk and and lower cost. 
    = link_to "Learn more", "/demo/", class: "btn cta-btn orange margin-top20"
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/-_CDU6NFw7U", :width => "560"}
%hr.divider
