---
layout: handbook-page-toc
title: "Secure Sub-department Performance Indicators"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Performance Indicators

These charts show metrics filtered for the [Secure sub-department](/handbook/engineering/development/secure).

### Development indicators
(<a href="https://app.periscopedata.com/app/gitlab/681347/MR-Metrics-by-Organization" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/dev_dashboard.erb", locals: { filter_type: 'sub_department', filter_value: 'secure' } %>

### Quality indicators
(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/quality_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['composition analysis', 'static analysis', 'dynamic analysis', 'fuzz testing', 'vulnerability research'] } %>

### UX indicators
(<a href="https://app.periscopedata.com/app/gitlab/736036/UX-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/ux_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['composition analysis', 'static analysis', 'dynamic analysis', 'fuzz testing', 'vulnerability research'] } %>

### Infrastructure indicators
(<a href="https://app.periscopedata.com/app/gitlab/798401/Infrastructure-Embedded-Dashboard" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/performance-indicators/partials/infrastructure_dashboard.erb", locals: { filter_type: 'team_group', filter_value: ['composition analysis', 'static analysis', 'dynamic analysis', 'fuzz testing', 'vulnerability research'] } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Composition Analysis" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Static Analysis" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Dynamic Analysis" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Fuzz Testing" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Vulnerability Research" } %>
